@model WebApplication1.Models.ZJFI_TempVM
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
            <label asp-for="site_ref" class="control-label col-md-2"></label>
        <span asp-validation-for="site_ref" class="text-danger"></span>
        <input asp-for="site_ref" class="form-control col-md-10" />
            
    </div>
    <br />
    <div>
        <div class="col-md-offset-2 col-md-10">
            <button type="submit">submit</button>
        </div>
    </div>


</form>